{{ define "content" }}
    <h2>Welcome to My App</h2>
    <div class="button-container">
        <!-- <a class="button" href="/organization">Organizations</a>
        <a class="button" href="/projects">Projects</a>
        <a class="button" href="/users">Users</a> -->
    </div>
    <div class="button-container">
        <a class="button" href="/organization/register">Register Organization</a>
        <!-- <a class="button" href="/projects/create">Create Project</a>
        <a class="button" href="/users/register">Register User</a> -->
    </div>
    <div class="button-container">
        <a class="button" href="/projects/create">Create Project</a>
    </div>
    <div class="button-container">
        <a class="button" href="/users/register">Register User</a>
    </div>
{{ end }}