{{ define "content" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/ui/static/projects.css" rel="stylesheet">
</head>
<body>
  <h2>Projects</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Deadline</th>
      <th>Owner</th>
      <th>Users</th>
    </tr>
    {{ range . }}
    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .Name }}</td>
      <td>{{ .Deadline }}</td>
      <td>{{ .Owner }}</td>
      <td>{{ .Users }}</td>
      <td><a href="/projects/{{ .ID }}">View</a></td>

    </tr>
    {{ end }}
</table>
</body>
</html>
{{ end }}