<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/ui/static/registerorganization.css" rel="stylesheet">
</head>
<body>
        
    <h2>Register Organization</h2>
    <form action="/organization/register" method="POST" >
        <input type="text" name="bin" id="bin" placeholder="BIN" minlength="12"  required>
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Address" name="address" required>
        <label for="users">Select Users:</label>
        <select id="users" name="users[]" multiple required>
            {{range .Users}}
            <option value="{{.FullName}}">{{.FullName}}</option>
            {{end}}
        </select><br><br>

        <!-- <select name="users[]" multiple required>
            {{ range .Users }}
                <option value="{{ .FullName }}">{{ .FullName }}</option>
            {{ end }}
        </select> -->
        <button type="submit">Register</button>
    </form>
</body>
</html>
