<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/ui/static/createprojects.css" rel="stylesheet">
</head>
<body>
        
    <h2>Create Project</h2>
    <form action="/projects/create" method="POST" >
        <!-- Add registration form fields here -->
        <input type="text" name="name" id="name" placeholder="Name" required>
        <input type="text" placeholder="Deadline" name="deadline" required>
        <input type="text" placeholder="Owner" name="owner" required>
        <input type="number" placeholder="Number of Users" name="number" required>
        <button type="submit">Create</button>
    </form>


</body>
</html>
